@media  screen and (min-width: 768px) {
    * {
        line-height: 22px;
        font-size: 16px;
    }

    .col-md-1-3 {
        flex-basis: calc(100% / 3);
    }

    .col-md-1-2 {
        flex-basis: calc(50% - 2rem);
    }
    
    .col-md-2-3 {
        flex-basis: calc(100% / 3 * 2);
    }

    .col-md-1-4 {
        flex-basis: 25%
    }

    .col-md-3-4 {
        flex-basis: 75%
    }
    
    .section.two .container h2 {
        font-size: 2.5rem;
        padding: 2rem 0;
        line-height: 1.7rem;
    }

    .section.one .col-md-2-3 .col-lg-1-2 img {
        bottom: -16px;
    }

    .container {
        width: 740px;
    }

    .section.one .card img {
        width: 50%;
    }

    .resized {
        background-color: white;
    }

    .section.five .card .apex-img i {
        left: 160px;
    }
    

}

@media  screen and (min-width: 920px) {
    * {
        line-height: 24px;
        font-size: 18px;
    }

    .hidden {
        display: flex;
    }

    .hamburg-menu i {
        display: none;
    }

    .section.one .col-md-2-3 .col-lg-1-2 img {
        width: 100%;
        position: relative;
        bottom: -30px;
    }

    .col-lg-1-4 {
        flex-basis: 25%
    }

    .col-lg-1-2 {
        flex-basis: 50%
    }

    .col-lg-1-3 {
        flex-basis: calc(100% / 3 - 2rem);
    }
    
    .col-lg-3-4 {
    flex-basis: 75%
    }

    .nav-container {
        max-width: 920px;
        margin: 0 auto;
    }

    .container {
        width: 900px;
    }

    .resized {
        margin-top: 10rem;
        border-radius: 3rem;
        padding: 2rem;
    }

    .section.two .container .col-lg-1-2 .h2-spaced {
        padding: 10rem 0 4rem 0;
    }

}