:root {
    --primary-color: rgb(0,132,253);
    --secondary-color: rgb(151,146,228);
}

* {
    line-height: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 5rem;
    background-color: var(--primary-color);
    width: 100%;
}

h2 {
    font-size: 2rem;
}

.nav-container-fixed {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    position: fixed;
    z-index: 3;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.hamburg-menu i {
    font-size: 2rem;
    color: white;
}

.hidden {
    display: none;
}

.hidden a {
    text-decoration: none;
    color: white;
    padding: .5rem;
}

.btn {
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding: 5px;
    border: 0px;
    margin-left: .5rem;
}

.btn-white {
    color:var(--secondary-color);
    padding: 15px 50px;
}

.btn-blue {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 20px;
}

.btn-violet {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 20px;
}

.section {
    padding: 1.5rem 0;
    margin: 0 1rem;
}

.container {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section.one .card {
    border-radius: 20%;
    overflow: hidden;
}

.section.one .card > * {
    padding: 1rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.section.one .card i {
    color: var(--primary-color);
    font-size: 4rem;
}

.card > * {
    flex-basis: 100%;
}

.col {
    flex-basis: 100%;
}

.section.one .col {
    text-align: center;
    background-color: rgb(181,221,255);
}

.section.one .col-md-2-3 .col-lg-1-2 img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.section.one .card h2 {
    padding: .6rem;
    color: var(--primary-color);
}

.col-violet {
    background-color: rgb(151,146,228);
}

.section.two .col-lg-1-2 img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.section.two .container h2 {
    font-size: 1.5rem;
}

.resized {
    border-radius: 50px;
    text-align: center;
    background-color: white;
}

.circle-violet{
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 1.5rem 0;
    padding: 11px 14px;
    color: black;
    background-color: var(--secondary-color);
}

.section.three .card {
    margin: 1rem 2rem;
    align-items: center;
}

.text-container {
    padding: 1rem;
    text-align: center;
}

.text-container h2 {
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--secondary-color);
}

.col-md-1-4 img,
.section.five img {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0.5rem auto;
    aspect-ratio: 1/1;
}

.section.three .col.white {
    padding-left: 1rem;
}

.col-md-3-4 h5 {
    padding-top: 1rem;
}

.white > * {
    color: white;
}

.black > * {
    color: black;
}

.section.four .card {
    margin: 1rem;
}

.section.four .card h2,
.section.four .card h5 {
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.section.four .btn-violet {
    margin-left: 0;
    margin-top: 1rem;
    padding: 7px 45px;
}

.section.four h5 {
    font-size: 1.2rem;
}

.section.four .col {
    background-color: white;
    margin: 1rem;
    border-radius: 50px;
    padding: 2rem;
}

.section.five p {
    margin-top: 2rem;
}

.section.five h2,
.section.five .col-md-1-3 p {
    color: var(--secondary-color);
}

.apex-img {
    position: relative;
}

.section.five .card .apex-img i {
    color: var(--secondary-color);
    position: absolute;
    top: 0px;
    left: 325px;
    font-size: 4rem;
}

.section.five .btn-violet {
    padding: 5px 40px;
}

.section.five .col-md-1-3 p {
    margin: 1rem;
    color: var(--secondary-color);
}

.test {
    display: inline-block;
}

.section.six {
    color: white;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--secondary-color);
}

.section.six .container .col > * {
    margin: 1rem;
}

.section.six h6 {
    color: rgb(213,212,244);
    font-size: 1.1rem;
}

.section.six h5 {
    font-size: 1.3rem;
}

.section.six h3 {
    font-size: 3rem;
    color: rgb(253,193,95);
}

.small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.section.six .small i {
    font-size: .4rem;
    color: white;
    padding: .2rem;
}

footer .section.seven {
    margin: 0;
    background-color: rgb(51,51,51);
    color: white;
}

.container-foot {
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

.container-foot p {
    font-size: .9rem;
}

.container-foot a {
    color: var(--secondary-color);
    font-size: .9rem;
}





/*COLONNE
.col-1-2 {
    flex-basis: 50%
}

.col-1-3 {
    flex-basis: calc(100% / 3);
}

.col-1-4 {
    flex-basis: 25%
}

.col-2-3 {
    flex-basis: calc(100% / 3 * 2);
}

.col-3-4 {
    flex-basis: 75%
}

.col-100 {
    flex-basis: 100%
}*/
